# dev
node_modules/
build/
dist/*
!dist/PKGBUILD

# node
package-lock.json
.node_repl_history
*.log*
*.heapsnapshot

# stuff
.vs/
.vscode/
.idea/
.DS_Store

# yarn
.yarn/install-state.gz
.yarn/build-state.yml

